.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/welcome.png);
    height: 100vh;
    
    
}
button{
    padding: 15px;
    margin: 40px;
    border-radius: 25% 10%;
}
a:hover{
    color: red;
    font-weight: bold;
}